.card {
  height: 100px;
  width: 50px;
  border: 1px solid black;
  margin: 10px;
  background-color: blue;
}
.cardcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flipped {
  background-color: green;
  transform-style: preserve-3d;
  transition-duration: 0.5s;
  transform: rotateY(180deg);
}

.flipback {
  transition-delay: 0.5s;
  transform-style: preserve-3d;
  transition-duration: 4s;
  transform: rotateY(180deg);
}

.hidden {
  visibility: hidden;
  height: 100px;
  width: 50px;
  margin: 10px;
}

.start-function {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: grey;
  top: 0px;
  z-index: 2;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.start {
  height: 25%;
  width: 25%;
  border-radius: 15px;
}

.youwin {
  color: red;
  font-size: large;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
}
